[Unit]
Description=Bazarr
After=network-online.target

[Container]
ContainerName=bazarr
Image=ghcr.io/hotio/bazarr:latest
AutoUpdate=registry
Network=media.network
PublishPort=7876:6767
Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/Los_Angeles
Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/minerva/appdata/servarr/bazarr:/config
Volume=/mnt/nas/media:/data/media

[Service]
Restart=always

[Install]
WantedBy=default.target
