[Unit]
Description=Prowlarr
After=network-online.target

[Container]
ContainerName=prowlarr
Image=ghcr.io/hotio/prowlarr:latest
AutoUpdate=registry
Network=media.network
PublishPort=7880:9696
Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/Los_Angeles
Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/minerva/appdata/servarr/prowlarr:/config

[Service]
Restart=always

[Install]
WantedBy=default.target
