[Unit]
Description=qBittorrent
After=network-online.target
StartLimitIntervalSec=1800
StartLimitBurst=3

[Container]
ContainerName=qbittorrent
Image=ghcr.io/hotio/qbittorrent:latest
AutoUpdate=registry
Network=media.network
PublishPort=7879:7879
PublishPort=6881:6881
PublishPort=6881:6881/udp
Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/Los_Angeles
Environment=WEBUI_PORTS=7879/tcp,7879/udp
Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/minerva/appdata/servarr/qbittorrent:/config
Volume=/home/minerva/torrents:/data/torrents


[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
