[Unit]
Description=Radarr
After=network-online.target
RequiresMountsFor=/mnt/nas
StartLimitIntervalSec=1800
StartLimitBurst=3

[Container]
ContainerName=radarr
Image=ghcr.io/hotio/radarr:latest
AutoUpdate=registry
Network=media.network
PublishPort=7878:7878
Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/Los_Angeles
Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/minerva/appdata/servarr/radarr:/config
Volume=/home/minerva/torrents:/data/torrents
Volume=/mnt/nas/media:/data/media


[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
