[Unit]
Description=Seerr
After=network-online.target
StartLimitIntervalSec=1800
StartLimitBurst=3

[Container]
ContainerName=seerr
Image=ghcr.io/seerr-team/seerr:latest
AutoUpdate=registry
Network=media.network
RunInit=true
PublishPort=5055:5055
Environment=LOG_LEVEL=info
Environment=TZ=America/Los_Angeles
Environment=PORT=5055
Volume=/etc/localtime:/etc/localtime:ro
Volume=/home/minerva/appdata/seerr:/app/config
HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/settings/public || exit 1
HealthStartPeriod=20s
HealthTimeout=3s
HealthInterval=15s
HealthRetries=3
HealthOnFailure=kill
UserNS=keep-id

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
